# CellOracle output adapter

In [1]:
import os
import sys
import glob
import pandas as pd
import numpy as np

In [2]:
example_out_dir = "/cellar/users/aklie/projects/igvf/topic_grn_links/grn_inference/celloracle/results/Bridge_Satpathy/balanced_genotype_microglia/0.05/raw/B6J"

In [3]:
output_file = glob.glob(os.path.join(example_out_dir, "*.tsv"))[0]

In [9]:
adj = pd.read_csv(output_file, sep="\t", index_col=0)

In [10]:
adj.rename(
    columns={
        "coef_mean": "weight_signed",
        "coef_abs": "weight_unsigned"},
    inplace=True
)

In [12]:
adj["weight_minmax_normalized"] = (adj["weight_unsigned"] - adj["weight_unsigned"].min()) / (adj["weight_unsigned"].max() - adj["weight_unsigned"].min())

In [13]:
adj["description"] = np.nan

In [14]:
adj.to_csv(os.path.join(example_out_dir, "net.tsv"), sep="\t")

,source,target,weight_signed,weight_unsigned,p,-logp,weight_minmax_normalized,description
0,Tcf12,0610012G03Rik,0.015642,0.015642,1.569409e-05,4.804264,0.000738,NaN
1,Smad1,0610012G03Rik,-0.002569,0.002569,1.352268e-01,0.868937,0.000121,NaN
2,Sp4,0610012G03Rik,0.002998,0.002998,1.381521e-01,0.859643,0.000141,NaN
3,Nrf1,0610012G03Rik,0.011757,0.011757,7.611729e-07,6.118517,0.000554,NaN
4,Mafb,0610012G03Rik,-0.003036,0.003036,2.869526e-01,0.542190,0.000143,NaN
...,...,...,...,...,...,...,...,...
526842,Sp1,a,0.000215,0.000215,9.267862e-01,0.033020,0.000010,NaN
526843,Npas2,a,-0.010581,0.010581,5.318404e-03,2.274219,0.000499,NaN
526844,Mga,a,-0.003446,0.003446,4.863647e-02,1.313038,0.000163,NaN
526845,Lmo2,a,0.000274,0.000274,8.464940e-01,0.072376,0.000013,NaN
526846,Mafg,a,0.002877,0.002877,1.709159e-01,0.767218,0.000136,NaN

In [15]:
(adj["source"] == adj["target"]).sum()

0